
<h1>Games</h1>
<% if @queued_games.present? %>
<h3>Queued Games</h3>
<table>
  <thead>
    <tr>
      <th>Player 1</th>
      <th>Player 2</th>
      <th>Winning score</th>
      <th>Losing score</th>
      <th>Spread</th>
      <th>Date/Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @queued_games.each do |game| %>
      <tr>
        <td><%= game.players.first.name if game.players.present? %></td>
        <td><%= game.players.last.name if game.players.present? %></td>
        <td><%= game.winning_score %></td>
        <td><%= game.losing_score %></td>
        <td><%= game.spread %></td>
        <td><%= game.updated_at.strftime('%m/%d/%Y - %l:%M %p') %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<h3>Played Games</h3>

<table>
  <thead>
    <tr>
      <th>Winner</th>
      <th>Loser</th>
      <th>Winning score</th>
      <th>Losing score</th>
      <th>Spread</th>
      <th>Date/Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @played_games.each do |game| %>
      <tr>
        <td><%= game.winner %></td>
        <td><%= game.loser if game.players.present? %></td>
        <td><%= game.winning_score %></td>
        <td><%= game.losing_score %></td>
        <td><%= game.spread %></td>
        <td><%= game.updated_at.strftime('%m/%d/%Y - %l:%M %p') %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
<br>
