<h1><%= @player1 %> Vs <%= @player2 %></h1>


<% if @game.winning_score.nil? %>
  <%= simple_form_for(@game) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :winner, label: "Who Won?", collection: @game.players.pluck(:name), required: true %>
      <%= f.input :winning_score, required: true %>
      <%= f.input :losing_score, required: true %>
    </div>

    <div class="row">
      <div class="col s12 m6 l6">
          <div class="form-actions">
            <%= f.button :submit %>
          </div>
      </div>
    </div>



  <% end %>

  <% else %>

  <h3><%= @game.winner %> won this game <%= @game.winning_score %> to <%= @game.losing_score %> on <%= @game.updated_at.strftime('%m/%d/%Y') %></h3>

<% end %>

<div class="row">
  <div class="col s12 m6 l6">
    <%= link_to "Back to Games List", games_path, class: "btn" %>
  </div>
</div>

<div class="row">
  <div class="col s12 m6 l6">
    <%= link_to 'Destroy This Game', @game, method: :delete, data: { confirm: 'Are you sure? It will be as if it never happened. Are you responisble enough for this ability?' }, class:"btn red" %>
  </div>
</div>
