<h1><%= @player.name %></h1>

<h3><%= @player.total_games %> Games Played</h3>

<h3>Record: <%= @player.win_count %> - <%= @player.loss_count %></h3>

<table class="bordered striped tablesorter">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Opponent</th>
      <th>W/L</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% @player.games.order(updated_at: :desc).each do |game| %>
      <tr>
        <td><%= game.updated_at.strftime('%m/%d/%Y') %></td>
        <td><%= link_to game.players.where("players.id != ?", @player.id).first.name, game.players.where("players.id != ?", @player.id).first  if game.players.count > 1 %></td>
        <% if game.winner == @player.name %>
          <td>W</td>
          <td><%= game.winning_score %> - <%= game.losing_score %></td>
        <% else %>
          <td>L</td>
          <td><%= game.losing_score %> - <%= game.winning_score %></td>
        <% end %>
        <td></td>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to Player List", players_path, class: "btn" %>
